@font-face{font-family:'Aino';src:url("/fonts/Aino/Aino_31_170411-Regular.woff") format("woff");font-weight:normal;font-style:normal}
@font-face{font-family:'Aino';src:url("/fonts/Aino/Aino_31_170411-Bold.woff") format("woff");font-weight:bold;font-style:normal}
@font-face{font-family:'Aino Headline';src:url("/fonts/Aino/Aino-Headline.woff") format("woff");font-weight:bold;font-style:normal}

body {
    font-family: Aino;
    font-size: 1.1rem;
}

.bg-light {
    background-color: #fff!important;
}

.navbar-brand {
    font-family: Aino!important;
    color: #1300EF!important;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link {
    font-family: Aino!important;
    color: #1300EF!important;
}

.list-group-item, td, th, .card-title {
    font-family: Aino!important;
}

th, .list-group-item:hover {
    color: #1300EF!important;
}

.nav-link:hover {
    text-decoration: none!important;
}

.btn-action {
    min-width: 200px;
}

.btn-kati{color:#fff;background-color:#0000f0;border-color:#0000f0;font-family: Aino;font-weight: 400;border-radius: 1.3rem;}
.btn-kati:hover{color:#fff;background-color:#0B00B4;border-color:#0B00B4}
.btn-kati:focus,.btn-kati.focus{box-shadow:0 0 0 .2rem #0000f0}
.btn-kati.disabled,.btn-kati:disabled{color:#fff;background-color:#0000f0;border-color:#0B00B4}
.btn-kati:not(:disabled):not(.disabled):active,.btn-kati:not(:disabled):not(.disabled).active,.show>.btn-kati.dropdown-toggle{color:#fff;background-color:#0000f0;border-color:#000}
.btn-kati:not(:disabled):not(.disabled):active:focus,.btn-kati:not(:disabled):not(.disabled).active:focus,.show>.btn-kati.dropdown-toggle:focus{box-shadow:0 0 0 .2rem #0B00B4}

h1 {
    color: blue;
    font-family: Aino;
}

h3 {
    font-family: Aino;
}

#mynetwork {
    border:1px solid #eee;
}

#mynetwork:focus {
    outline:0;  
}

.dashboard-icon-container {
    border: 1px solid #b5d2ff;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    padding: 35px;
    top: -60px;
    position: relative;
    background-color: white;
    margin: 0 auto;
}

.dashboard-icon {
    font-size: 6rem;
    color: #6aa3fc;
}

.dashboard-icon-block {
    position: relative;
    margin-bottom: -40px;
}

.card-deck {
    margin-top: 120px;
}

.diary-icon {
    padding-top: 5px;
}

.add-data-icon {
    padding-left: 5px;
    padding-top: 5px;
}

.network-icon {
    padding-top: 15px;
    font-size: 5.0rem;
}

.map-icon {
    font-size: 5.2rem;
    padding-top: 10px;
}

.api-icon {
    padding-left: 15px;
}

.vis-network:focus {
    outline: none;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomIn::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00e";
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomOut::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f010";
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f31e";
}

div.vis-network div.vis-navigation div.vis-button.vis-left::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f060";
}

div.vis-network div.vis-navigation div.vis-button.vis-down::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f063";
}

div.vis-network div.vis-navigation div.vis-button.vis-right::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f061";
}

div.vis-network div.vis-navigation div.vis-button.vis-up::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f062";
}

div.vis-network div.vis-navigation div.vis-button.vis-up {
    bottom: 55px;
    left: 60px;
}

div.vis-network div.vis-navigation div.vis-button.vis-right {
    left: 105px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
    bottom: 60px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomOut {
    right: 65px;
}

div.vis-network div.vis-navigation div.vis-button.vis-down {
    left: 60px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomIn,
div.vis-network div.vis-navigation div.vis-button.vis-zoomOut,
div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends,
div.vis-network div.vis-navigation div.vis-button.vis-left,
div.vis-network div.vis-navigation div.vis-button.vis-down,
div.vis-network div.vis-navigation div.vis-button.vis-right,
div.vis-network div.vis-navigation div.vis-button.vis-up {
    background-image: none;
}

div.vis-network div.vis-navigation div.vis-button {
    width: 50px;
    height: 50px;
    font-size: 2.2rem;
    text-align: center;
    color: #6aa3fc;
}

div.vis-network div.vis-navigation div.vis-button:hover {
    box-shadow: 0 0 3px 3px #b5d2ff
}