{{ define "content" }}

<h1 class="mb-4 text-center mt-5">Tulemus</h1>
<p class="text-center">Teie vastused on <a href="/diary">salvestatud päevikusse</a>.</p>

<div>
{{ .DiagnoseHTML }}
</div>

<h3 class="mb-4 text-center mt-5">Ametlikud juhised</h3>

<ol>
    <li>Püsige koduravil kaks nädalat.</li>
    <li>Jälgige oma tervist! Kui seisund halveneb (tekivad hingamisraskused; esineb palavik >38 kraadi koos kuiva köhaga) võtke ühendust oma perearstiga.</li>
    <li>Kui olete vanem kui 60 või teil esineb mõni krooniline haigus nagu diabeet, kopsuhaigus või südamehaigus, jälgige oma tervist eriti hoolikalt. Kui teie sümptomid püsivad kauem kui kolm päeva või süvenevad (palavik >38 kraadi, hingamisraskused või kehv üldseisund) võtke koheselt ühendust perearstiga.</li>
    <li>Kiirabisse (112) pöörduge ainult vältimatu abi saamiseks.</li>
    <li>Teavitage oma lähikontaktseid, et nad jälgiksid oma tervist, võimalusel püsiksid kodus, ja vajadusel sooritaksid selle enesehindamisküsimustiku edasiste juhiste saamiseks.</li>
</ol>

{{ end }}