{{ define "content" }}
<h1 class="text-center mt-5">Koroona Abi- ja Teabe Infosüsteem</h1>
<p class="mt-5">KATI (Koroona Abi- ja Teabe Infosüsteem) on enesediagnostikal ning andmekorjel ja -analüüsil põhinev infosüsteem, mis annab Eesti elanikele, kogukondadele ning avalikule sektorile vajalikku informatsiooni kriisile adekvaatseks, teadmispõhiseks reageerimiseks ning poliitikaotsuste kujundamiseks ja nende operatiivseks kommunikeerimiseks kriisiolukorras.</p>
<h2 class="text-center mt-5">Sisene Katisse</h2>
<div class="text-center pb-5">
    <form action="/login" method="post">
    <input type="submit" class="btn btn-kati btn-lg btn-action mt-5" value="Mobiil-ID">
    <input type="submit" class="btn btn-kati btn-lg btn-action mt-5" value="Smart-ID">
    <input type="submit" class="btn btn-kati btn-lg btn-action mt-5" value="ID-kaart">
</form>
</div>
{{ end }}